<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="{{homeTab}}"><a ng-href="#">Home</a></li>
    <li class="{{contactTab}}"><a ng-href="#/contact">Contact</a></li>
  </ul>
  <div class="pull-right" ng-controller="clusterStatusController">
    <span ng-hide="primaryServerStatusCheckSuccess" class="btn-sm btn-danger glyphicon glyphicon-thumbs-down"> Cluster unreachable.</span>
    <span ng-show="serversStatusCheckResponse.serverUpCount > 0" class="btn-sm btn-success glyphicon glyphicon-thumbs-up"> {{serversStatusCheckResponse.serverUpCount}}</span>
    <span ng-show="serversStatusCheckResponse.serverDownCount > 0" class="btn-sm btn-danger glyphicon glyphicon-thumbs-down"> {{serversStatusCheckResponse.serverDownCount}}</span>
    &nbsp;
  </div>
  <h3 class="text-muted"><img class="header-logo" src="images/splice-logo.jpg" alt="We are Splice Machine"> Explain Trace Tool</h3>
</div>
