<splice-admin-header></splice-admin-header>

<div class="row marketing">
  <h4>Documentation</h4>
  <p>
    For documentation regarding our products, please visit our <a href="http://doc.splicemachine.com">documentation site</a>.
  </p>
  <h4>Technical Support</h4>
  <p>
    For any technical support questions regarding our products, please visit our <a href="http://splicemachine.zendesk.com">support site</a>.
  </p>
  <h4>Product Information</h4>
  <p>
    For any general questions regarding our products, please visit our <a href="http://www.splicemachine.com">corporate site</a>.
  </p>
</div>

<splice-admin-footer></splice-admin-footer>
