*.orig
*.rej
*.jar
*.idea
*.iws
*.ipr
*.iml
javadoc/
maven2/target/
**/target/
*.class
*.jad
.project
.classpath
**/.project
**/.classpath
*.prefs
*.swp
classes
generated
jars
classes.storeless/
changenumber.properties
*.log
