<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#/contact">Contact</a></li>
  </ul>
  <h3 class="text-muted"><img class="header-logo" src="images/splice-logo.jpg" alt="We are Splice Machine"> Explain Trace Tool</h3>
</div>

<div class="row marketing" ng-controller="chartsRegionServerStatsSelectBoxController">
  <!-- Selection box for region server statistics to view. -->
  Region Server Metric:
  <select ng-model="selectedRegionServerStat" ng-options="regionServerStatsOption.name group by regionServerStatsOption.group for regionServerStatsOption in regionServerStatsSelectList">
  </select><br/>

  <div class="row marketing" ng-controller="chartsRegionServerStatsNvd3Controller">
    <!--
        <nvd3-line-chart id="{{lineChartId}}"
                         data="lineData"
                         showXAxis="true"
                         showYAxis="true"
                         tooltips="true"
                         interactive="true">
        </nvd3-line-chart>
        <nvd3-pie-chart id="{{pieChartId}}"
                        data="d3Data"
                        width="550"
                        height="350"
                        x="xFunction()"
                        y="yFunction()"
                        showLegend="true"
                        tooltips="true"
                        tooltipcontent="toolTipContentFunction()"
                        noData="Sorry, no data here.">
          <svg></svg>
        </nvd3-pie-chart>
    -->

    <!-- Test Data: regionServerExampleBarData -->
    <nvd3-multi-bar-chart id="{{pieChartId}}"
                          data="d3Data"
                          width="550"
                          height="350"
                          x="xFunctionBar()"
                          y="yFunctionBar()"
                          showLegend="true"
                          showYAxis="true"
                          showControls="true"
                          tooltips="true"
                          tooltipcontent="toolTipContentFunction()"
                          noData="Sorry, no data here.">
      <svg></svg>
    </nvd3-multi-bar-chart>

    <!--
        <p>Debug Edit Fields Below</p>
        <p ng-repeat="foo in d3Data">
          {{foo.name}}:
          <input type="text" ng-model="foo.score"/>
        </p>
    -->
  </div>

  <!-- Bar chart for selected region server statistics. -->
<!--
  <div class="row marketing" ng-controller="chartsRegionServerStatsD3BarsController">
    <span>{{title}}</span>
    <d3-bars data="d3Data" label="name" on-click="d3OnClick(item)"></d3-bars>
  </div>
-->
</div>

<div class="footer">
  <p>&copy; 2014 Splice Machine, Inc. All rights reserved.</p>
</div>
