<div class="header">
  <div class="pull-right" ng-controller="clusterStatusController">
    &nbsp;
    <span ng-hide="primaryServerStatusCheckSuccess" class="btn-sm btn-danger glyphicon glyphicon-thumbs-down"> Cluster unreachable.</span>
    <span ng-show="serversStatusCheckResponse.serverUpCount > 0" class="btn-sm btn-success glyphicon glyphicon-thumbs-up"> {{serversStatusCheckResponse.serverUpCount}}</span>
    <span ng-show="serversStatusCheckResponse.serverDownCount > 0" class="btn-sm btn-danger glyphicon glyphicon-thumbs-down"> {{serversStatusCheckResponse.serverDownCount}}</span>
  </div>
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li class="active"><a ng-href="#/contact">Contact</a></li>
  </ul>
  <h3 class="text-muted"><img class="header-logo" src="images/splice-logo.jpg" alt="We are Splice Machine"> Explain Trace Tool</h3>
</div>

<div class="row marketing">
  <h4>Technical Support</h4>
  <p>
    For any technical support questions regarding our products, please visit our <a href="http://splicemachine.zendesk.com">support site</a>.
  </p>
  <h4>Product Information</h4>
  <p>
    For any general questions regarding our products, please visit our <a href="http://www.splicemachine.com">corporate site</a>.
  </p>
</div>

<div class="footer">
  <p>&copy; 2014 Splice Machine, Inc. All rights reserved.</p>
</div>
