<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li class="active"><a ng-href="#/traced-statements">Explain Traces</a></li>
    <li><a ng-href="#/charts-region-server-stats">Charts</a></li>
    <li><a ng-href="#/contact">Contact</a></li>
  </ul>
  <h3 class="text-muted"><img class="header-logo" src="images/splice-logo.jpg" alt="We are Splice Machine"> Admin Console</h3>
</div>

<!-- Simple HTML indented list of the operations tree.  -->
<div class="row marketing">
<script type="text/ng-template"  id="tree_item_renderer.html">
    {{node.operationType}}
    <ul>
        <li ng-repeat="node in node.children" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</script>

<ul>
    <li ng-repeat="node in tree" ng-include="'tree_item_renderer.html'"></li>
</ul>
</div>

<div class="footer">
  <p>&copy; 2014 Splice Machine, Inc. All rights reserved.</p>
</div>
