<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">Splice Machine Console</h3>
</div>

<div class="row marketing">
<script type="text/ng-template"  id="tree_item_renderer.html">
    {{data.operationType}}
    <!-- button ng-click="add(data)">Add node</button -->
    <!-- button ng-click="delete(data)" ng-show="data.children.length > 0">Delete children</button -->
    <ul>
        <li ng-repeat="data in data.children" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</script>

<ul>
    <li ng-repeat="data in tree" ng-include="'tree_item_renderer.html'"></li>
</ul>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Splice Machine team</p>
</div>
