.operation-details-title {
  font-size: 21px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.operation-details-box {
  background-color: #ccc;
}

.round-corners {
  border-radius:1em;
  -moz-border-radius:1em;
  -webkit-border-radius:1em;
}

.operation-details-sub-title {
  font-weight: bold;
}

/* Box for the operations details summary info */
#operation-details-summary {
  float: left;
  width: 30%;
  margin: 5px;
  border-right: 1px solid #e5e5e5;
}

#operation-details-input {
  float: left;
  width: 30%;
  margin: 5px;
  border-right: 1px solid #e5e5e5;
}

#operation-details-output {
  float: left;
  width: 30%;
  margin: 5px;
}

/* TODO: This is a temporary style until I can get the pretty boxes around the ops tree working. */
/* Pretty box for the indented operations in the tree */
.my-angular-ui-tree-handle {
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
}
